{{ form_start(form) }}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                {{ form_widget(form.name, {'attr': {'placeholder': 'Nombre'}}) }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                {{ form_widget(form.email, {'attr': {'placeholder': 'Correo'}}) }}
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                {{ form_widget(form.message, {'attr': {'placeholder': 'Mensaje'}}) }}
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                {{ form_widget(form.phone, {'attr': {'placeholder': 'Telefono'}}) }}
            </div>
        </div>
        <div class="col-12 text-center">
            <button class="btn btn-success">{{ button_label|default('Almacenar') }}</button>
        </div>
    </div>
{{ form_end(form) }}
