{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block navbaritems %}
    <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Principal <span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link active" href="{{ path('post_index') }}">Blog</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ path('contact_new') }}">Contacto</a></li>
{% endblock %}

{% block body %}
    <div class="row justify-content-around">
        {% if app.user %}
            <div class="col-12 d-flex justify-content-center">
                <a href="{{ path('post_new') }}" class="btn btn-success mb-4">Nuevo</a>
            </div>
        {% endif %}
        {% if posts|length %}
            {% for post in posts %}
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ post.image }}" alt="Card image cap">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col"><h3 class="mb-2">{{ post.title }}</h3> - <span class="text-muted">{{ post.author.name }}</span></div>
                                {% if app.user and app.user.id == post.author.id %}
                                    <div class="col d-flex justify-content-end">
                                        <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-sm btn-primary mr-1">Editar</a>
                                        <form action="{{ path('post_delete', {'id': 1}) }}" method="post" id="frm-delete-post{{ post.id }}" class="d-none" onsubmit="return confirm('¿Está seguro de eliminar esta entrada?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                                        </form>
                                        <button type="submit" form="frm-delete-post{{ post.id }}" class="btn btn-sm btn-danger">Eliminar</button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <p class="card-text">{{ post.content|slice(0, 100) }}</p>
                            <div class="d-flex justify-content-center">
                                <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-outline-info">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% if not app.user %}
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        <strong>¡Aviso!</strong> En este momento no existe ninguna entrada para el blog. Si desea crear una por favor <a href="{{ path('app_register') }}">regístrese</a> o <a href="{{ path('app_login') }}">inicie sesión</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
